<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Added note</title>
</head>
<body>
  <p>Your note variables are:{{{img}}} and {{{text}}} </p>
  <a href="/">Back to notes</a>
</body>
</html>